.footer {
	padding-top: 50px;
	background-color: #391f00;
	color: #fff;
}

.footer__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}


.footer__categories {
	display: flex;
	gap: 90px;
	line-height: 196.19%;
}


.footer__category-name {
	font-size: 18px;
}

.footer__lint-link {
	font-size: 13px;
}


.footer__bottom {
	text-align: center;
	padding-block: 15px;
}
.footer__copyright {
	font-size: 12px;
	line-height: 196.19%;
}

.footer__call {
	display: grid;
	gap: 12px;
}
.footer__call-link {
	font-weight: 900;
}
.footer__call-btn {
	border: 1px solid var(--orange);
	text-align: left;
	padding: 4px 7px;
	font-weight: 14px;
	font-weight: 500;
	color: var(--orange);
}


/*Media queries*/
@media  screen and (max-width: 480px) {
	
	.footer__categories {
		display: flex;
		gap: 30px;
		line-height: 196.19%;
	}

	.footer__top {
		display: flex;
		flex-direction: column;
		gap: 25px;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 50px;
	}


}