@import './vars.css';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
button {
	background-color: inherit;
	border: none;
	cursor: pointer;
}
ul,
ol {
	list-style: none;
}

button {
	cursor: pointer;
	background-color: inherit;
	border: none;
	color: inherit;
}

img {
	vertical-align: top;
	max-width: 100%;
}
