/* imports */
@import '../utils/reset.css';
@import '../layout/header.css';
@import '../layout/footer.css';
/* ==================================== */

.about {
	padding-top: 110px;
	padding-bottom: 130px;
}

.flex-container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
}
.about__content {
	display: flex;
	flex-direction: column;
	min-height: calc(90vh - 72px);
	justify-content: center;
	align-items: center;
}


.about__title {
	color: rgb(36, 20, 0);
	font-size: 36px;
	font-weight: 900;
	margin-bottom: 25px;
}

.leftside {
	font-weight: 400;
	max-width: 686px;
	word-wrap: break-word;
	font-size: 18px;
	font-weight: 400px;
	line-height: 35.31px;
	background: #fffaf5;
    transform: translate(0px,-25px);
}



@media  screen and (max-width: 480px) {

   .flex-container {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		gap: 20px;
		align-items: center;
	}
}