/* imports */
@import '../utils/reset.css';

/* ==================================== */

/* Global */

.admin-heading-red {
	width: 100%;
	display: flex;
	box-shadow: inset 0px -1px 0px 0px rgb(230, 231, 233);
	background-color: rgb(114, 4, 24);
	color: #fff;
	justify-content: center;
	align-items: center;
	padding: 16px 22.5px;
	font-size: 14px;
}

/* minmax(54px, fit-content) 200px minmax(259px, 426px) 259px 229px */
.admin-flex-content {
	display: grid;
	grid-template-columns: 0.1fr 0.5fr 1fr 0.5fr 0.3fr;

	text-align: center;
	white-space: nowrap;
	width: 100%;
}

.admin-list {
	background-color: #fff;
	color: rgb(5, 17, 26);
	font-size: 14px;
	line-height: 115%;
	width: 100%;
}

/* -----------Container Css--------- */
.myContainer {
	display: flex;
	min-height: 100vh;
	/* flex-wrap: wrap; */
}

/* ---------------------Side bar Css--------- */
.side-bar {
	background-color: #720418;
	color: #fff;
	width: 320px;
	padding-top: 20px;
	position: relative;
}

.side-bar__pages {
	position: fixed;
	left: 0;
	top: 0;
	padding-left: 35px;
	padding-top: 93px;

	ul {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
}

.headerAdminPanel {
	text-align: center;
	margin-bottom: 8px;
	padding: 10px 0;
}

.side-bar ul {
	list-style-type: none;
	padding: 0;
}

.side-bar li {
	display: flex;
	align-items: center;
	font-size: 18px;
	font-weight: 400;
	gap: 10px;
}

/* -------------------Section Content Css----------- */
.main-section {
	flex: 1;
	padding: 48px 90px 100px 33px;
	background-color: #fffaf5;
}

.content-section {}

.content-section__admin {
	margin-bottom: 48px;
	display: flex;
	justify-content: end;
}

.adminUser {
	display: flex;
	gap: 8px;
	width: fit-content;
	align-items: center;
}

.title {
	font-size: 24px;
	font-weight: 600;
}

/* -------------------Add Book Css----------- */
.formDiv {
	margin-bottom: 160px;
	padding-block: 30px;
}

.formDiv__title {
	margin-bottom: 18px;
}

.add-book__title {
	margin-bottom: 26px;
}

#infos {
	resize: none;
	overflow-y: auto;
	height: 200px;
	border-radius: 10px;
	width: 310px;
	/* background-color: white; */
	display: flex;
	flex-direction: column;
}

#infos button {
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	/* background-color: white; */
	color: black;
	border: none;
	text-align: start;
	margin: 1px;
	padding: 5px;
	font-size: 16px;
	border-radius: 10px;

	&:hover {
		background-color: #720418;
		color: #fff;
	}
}

.changeVisibility {
	visibility: hidden;
}

.search__book__body {
	display: flex;
	justify-content: flex-start;
	gap: 8px;

	svg {
		transition: stroke 0.3s ease 0s;
		stroke: #f2f2f2;
	}

	button {
		height: 40px;
		width: 63px;
		border-radius: 50px;
		background-color: #ff8b00;
		transition: all 0.3s ease 0s;

		&:hover {
			background-color: #adadad;
			transform: scale(1.1);

			svg {
				stroke: var(--red);
			}
		}
	}
}

.form-group {
	margin-bottom: 20px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
}

.form-group input,
.form-group textarea {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 4px 18px 0px #9ea8bd4f;
}

.search-heading {
	font-size: 18px;
	font-weight: 600;
	display: block;
	margin-bottom: 6px;
}

.page__button {
	font-size: 18px;
	padding: 7px 0 18px 0;
	display: flex;
	align-items: center;
	gap: 12px;
	transition: all 0.3s ease 0s;

	&:hover {
		color: var(--orange);
		transform: scale(1.1);
	}
}

#searchBook {
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	padding: 10px 10px !important;
	margin-bottom: 3px;
	width: 300px;
	text-indent: 20px;
	color: rgb(118, 117, 117);
	border-radius: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(186, 178, 178);
	border-image: initial;
	padding: 3px;
	outline: none;
	transition: all 0.3s ease 0s;

	&:focus {
		border: 1px solid #ff8b00;
		background-color: rgb(199, 199, 199);

		&::placeholder {
			color: rgb(255, 0, 0);
		}
	}
}

.buttonDiv button {
	cursor: pointer;
	padding: 6px 18px;
	border-radius: 16px;
	background-color: #ff8b00;
	transition: all 0.2s linear;
}

.buttonDiv button:hover {
	background-color: #dd7b04;
}

.buttonDiv button svg {
	width: 17px;
	height: 23.11px;
}

.add__book__form {
	background-color: #fff;
	padding: 16px 30px 30px 30px;
}

.addBookddDatabase {
	width: 100%;
	background-color: #ff8b00;
	color: #fff;
	padding: 12px 24px;
	border-radius: 10px;
	transition: all 0.2s linear;
}

.addBookddDatabase:hover {
	background-color: #dd7b04;
	color: #fff;
}

/* ---------Responsive------------ */
@media screen and (max-width: 700px) {
	.headerAdminPanel svg {
		width: 100px;
	}
}

/* -------------Join Us, Books, Contact for table css------------------ */
table {
	width: 100%;
	border-collapse: collapse;
}

table .headTr {
	background-color: #720418;
	color: #fff;
}

/*-----------Table For responsive */
@media screen and (max-width: 768px) {
	table {
		overflow-x: auto;
	}
}

/* =================================================== */
textarea {
	min-height: 90px;
}

/* About Store */
.about-store {}

.about-store__title {
	margin-bottom: 17px;
}

.about-store__form {
	padding: 30px;
	padding-top: 15px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	background: #fff;
	border-radius: 20px;
	margin-bottom: 126px;
}

.about-store__label {
	font-size: 16px;
	line-height: 19px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.about-store__input {
	padding: 12px 10px;
	border: 1px solid rgb(226, 230, 238);
	border-radius: 10px;
	box-shadow: 0px 4px 18px 0px rgba(158, 168, 189, 0.31);
	background: #fff;
}

.about-store__textarea {
	padding: 12px 10px;
	border: 1px solid rgb(226, 230, 238);
	border-radius: 10px;
	box-shadow: 0px 4px 18px 0px rgba(158, 168, 189, 0.31);
	background: #fff;
	min-height: 38px;
}

.about-store__button {
	font-size: 14px;
	background-color: #ff8b00;
	width: 100%;
	padding-block: 12px;
	border-radius: 10px;
	color: #fff;
	transition: all 0.3s ease 0s;

	&:hover {
		background-color: #dd7b04;
	}
}

/* =====================Join-us============================== */

.join-us {
	margin-bottom: 136px;
}

.join-us__title {
	margin-bottom: 5px;
	font-size: 30px;
	font-weight: 600;
	line-height: 196%;
}

.join-us__content {
	max-width: 512px;
}

.join-us__column {
	width: 100%;
}

.join-us__column-name {}

.join-us__list {}

.join-us__list-item {
	padding: 16px 44px;
	border-bottom: 2px solid #ccc;
}

.books__box {
	display: flex;
	align-items: center;
	gap: 8px;
	justify-content: center;
}